<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Welcome To The EphotoNow App</h1>
      <h2 style="text-align: center;">You Will Love Managing Your Photos With</br>Our Application</h2>
    </div>
  </div>
</header>
<section id="about" class="about-section">
  <h2 style="text-align: center;">Choose your plan and start discovering</h2>
  <div class="wrap">
    <div class="box">
      <h1>Premium Plan</h1>
      <p class="price">10€/M </p>
      <p class="about">Unlimited Image Uploads</p>
      <p class="about">Responsive Design</p>
      <p class="about">Acceess Anywhere</p>
      <p class="about">X</p>
      <%= link_to "Sign Up", new_user_registration_path, :class =>"button" %>
   </div>
   <div class="box">
     <h1>Platinum Plan</h1>
     <p class="price">20€/M</p>
     <p class="about">Unlimited Image Uploads</p>
     <p class="about">Responsive Design</p>
     <p class="about">Acceess Anywhere</p>
     <p class="about">Unlimited Projects</p>
     <%= link_to "Sign Up", new_user_registration_path, :class =>"button" %>
   </div>
  </div>
</section>

