@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

html,body {
    width: 100%;
    height: 100%;
    background-color:#191919;
    color:#fff;
    overflow-x: hidden !important; 
}

body{
    font-family:'Roboto', sans-serif;
    width:100%;
    height:100%;
    overflow-x: hidden !important; 
    display: table;
}


header {
    margin-top:-20px;
    position: relative;
    width: 100%;
    min-height: auto;
    background-position: center;
    background-image: url('bg.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 30px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                h1 {
                    font-size: 50px;
                }
            }
        }
    }
}
section#intro h1{
    padding-bottom:5px;
}

section#about{
    margin-bottom:150px;
   
}

section#about h2{
    text-align:center;
    padding-top:30px;
    padding-bottom:55px;
}
* {box-sizing: border-box;}

.wrap {
  max-width: 660px;
  margin: 50px auto 0 auto;
  text-align: center;
}
.box {
  display: inline-block;
  margin: 0 20px;
  width: 250px;
  background: #191919;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px #ffcc00;
  }
.box h1 {
    margin: 20px 0;
    font-size: 1.3em;
    color: #fff;
  }
.price {
    height: 110px;
    width: 110px;
    text-align: center;
    background-color: #ffcc00;
    border-radius: 50%;
    line-height: 110px;
    color: #191919;
    font-size: 1.4em;
    font-weight: 100;
    margin: 20px auto;
}

.about {
  margin: 10px 0px;
  padding-bottom: 10px;
  font-weight: 100;
  font-size: 0.8em;
  color: #fff;
  
  border-bottom: 1px solid #ffcc00;
}
.button {
    text-decoration: none;
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #ffcc00;
    border-radius: 5px;
    color: #191919;
    font-size: 1em;
    font-weight: 300;
    transition: 0.7s ease-in-out;
}
.button:hover {
  background: #e63900;
  color:#191919;
  text-decoration:none;
}


.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:  flex;
  flex-wrap: wrap;

}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .equal, .equal > div[class*='col-'] {  
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex:1 1 auto;
  }
}


.center-list {
  margin: 0 auto;
}

@media screen and (min-width: 680px) {
.navbar-transparent {
    background: #191919;
    background-image: none;
    border-bottom-color: #ffcc00;
    border-right-color:transparent;
    border-left-color:transparent;
    border-top-color:transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: #f5f5f5;
    background-image: none;
    border-color: #f5f5f5;
    overflow-x:hidden !important;
    
}}

.navbar-default .navbar-brand {
    font-family:'Indie Flower' !important;
    color: #ffcc00;
    font-size:36px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #e63900;
}

.navbar-default .navbar-nav > li > a{
    font-family:'Indie Flower' !important;
    color: #ffcc00;
    font-size:28px;
}

.navbar-default .navbar-nav > li > a:hover{
    
    color: #e63900;
    
}

.footer {
    bottom:0;
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear:both;
    padding-top:20px;
    background-color: #191919;
    border-top: 1.5px solid #ffcc00;
    border-radius: 4px;
}

.footerText {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
  font-family:'Indie Flower' !important;
  font-size:20px;
  color:#ffcc00;
}

.footer a {
    text-decoration:none;
    color:#ffcc00;
}

.footer a:hover {
    color: #e63900;
}